<div class="container my-5">
  <h1 class="title text-center">ABOUT US</h1>
  <h2 class="description text-center">We provide you with the latest and the most creative Web Development Solutions.</h2>
  <div class="row justify-content-center text-center">
    <div class="col-3">
      <span>Portfolio</span>
      <a href="#"><i class="fa fa-briefcase fa-5x" aria-hidden="true"></i></a>
    </div>
    <div class="col-3">
      <span>Services</span>
      <a href="#"><i class="fa fa-cogs fa-5x" aria-hidden="true"></i>
      </a></div>
    <div class="col-3">
      <span>Contact</span>
      <a href="#"><i class="fa fa-globe fa-5x" aria-hidden="true"></i></a></div>
  </div>
</div>
