<nav class="navbar navbar-expand-lg bg-secondary fixed-top text-uppercase" id="mainNav">
  <div class="container">
    <a class="navbar-brand js-scroll-trigger" href="#page-top" routerLink="/"><img src="assets/images/logo-nav@2x.png"
        alt="" class="navbar-brand__img"></a>
    <button class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-white rounded" type="button"
      data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
      aria-label="Toggle navigation">
      Menu
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item mx-0 mx-lg-1">
          <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#portfolio" routerLink="/"
            routerLinkActive="active" [routerLinkActiveOptions]="{exact:
            true}">Home</a>
        </li>
        <li class="nav-item mx-0 mx-lg-1">
          <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#about" routerLink="/product"
            routerLinkActive="active" [routerLinkActiveOptions]="{exact:
              true}">Product</a>
        </li>
        <li class="nav-item mx-0 mx-lg-1">
          <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#contact" routerLink="/news"
            routerLinkActive="active" [routerLinkActiveOptions]="{exact:
            true}">News</a>
        </li>
        <li class="nav-item mx-0 mx-lg-1">
          <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#about" routerLink="/Category"
            routerLinkActive="active" [routerLinkActiveOptions]="{exact:
            true}">Category</a>
        </li>
        <li class="nav-item mx-0 mx-lg-1">
          <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#about" routerLink="/about"
            routerLinkActive="active" [routerLinkActiveOptions]="{exact:
            true}">About</a>
        </li>
        <li class="nav-item mx-0 mx-lg-1">
          <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#contact" routerLink="/contact"
            routerLinkActive="active" [routerLinkActiveOptions]="{exact:
              true}">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<header class="masthead bg-primary text-white text-center">
  <div class="container">
    <h1 class="text-uppercase mb-2">Angular</h1>
    <h2 class="font-weight-light mb-0">
      One framework -
      Mobile & desktop</h2>
  </div>
</header>
